# Python
__pycache__/
*.py[cod]
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/

# Virtual environments
venv/
env/
.env

# IDE
.idea/
.vscode/

# Testing
.pytest_cache/
.coverage
htmlcov/
test_env/

# Misc
.DS_Store

# own
_archive/
old_code/
*.xlsx
*.csv
*.json
*.txt
*.pyc

# data directories (ignore most content)
# data/raw/
# data/processed/
# data/temp/
# data/cache/
# data/logs/

# Keep the the generic template in the repository
!data/templates/style-template-doc.docx
# but ignore the rest of the data directory files
data/templates/
data/

# Don't ignore the following files
# !fi.txt
# !en.txt

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
